@model IEnumerable<TeaShopMVC.Models.Tea>

@{
    ViewData["Title"] = "Index";
}

<h2>Наш чай</h2>

<p>
    <a asp-action="Create">Добавить новый чай</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.NameSort">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.PriceSort">
                    @Html.DisplayNameFor(model => model.Price)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.TypeSort">
                    @Html.DisplayNameFor(model => model.Type)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.WeightSort">
                    @Html.DisplayNameFor(model => model.Weight)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewBag.AmountSort">
                    @Html.DisplayNameFor(model => model.Amount)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Подробно</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>*@
            </td>
        </tr>
}
    </tbody>
</table>